# Ignore node_modules directory
node_modules/

# Ignore log files and other temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore compiled files
/dist/
/build/

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code configuration files
.vscode/

# Ignore package-lock files for npm and yarn
package-lock.json
yarn.lock